.profile__feature {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .profile__feature {
    font-size: 14px;
    line-height: 17px;
    margin-top: 6px;
    text-align: center;
  }
}