.profile {
  display:flex;
  padding: 36px 0 47px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    padding-bottom: 36px;
  }
}